---
import { Image } from "astro:assets"

import { cn } from "@/lib/utils"
import Link from "@/components/base/Link.astro"
import Section from "@/components/layout/Section.astro"

interface Props {
  class?: string
  username?: string
  githubUrl?: string
}

const { class: className, username, githubUrl = "https://github.com" } = Astro.props

// Extract username from githubUrl if not provided
const ghUser = username || githubUrl?.split("/").pop() || ""
---

{
  ghUser && (
    <Section title="GitHub Activity" class={cn("flex flex-col gap-4", className)}>
      <p class="text-muted-foreground">
        My{" "}
        <Link href={githubUrl} external class="text-primary">
          GitHub ↗
        </Link>{" "}
        contributions over the past year. Colored squares represent days with commits.
      </p>
      <div class="bg-card mb-4 flex justify-center rounded-lg border">
        <Image
          src={`https://ghchart.rshah.org/659eb9/${ghUser}`}
          alt="GitHub contribution chart"
          inferSize
          loading="lazy"
          class="w-full p-4"
        />
      </div>
    </Section>
  )
}
