---
interface Props {
  title?: string
  class?: string
}

const { class: className, title } = Astro.props
---

<section class:list={["mt-8 flex flex-col gap-y-2", className]}>
  {
    title && (
      <h2 id={title.toLowerCase()} class="mt-8 mb-4 text-2xl font-medium">
        {title}
      </h2>
    )
  }
  <slot />
</section>
