---
import Link from "@/components/base/Link.astro"

interface Props {
  title: string
  class?: string
  /** Optional link to see more */
  moreLink?: string
  /** Custom more link text (defaults to "see all →") */
  moreText?: string
}

const { class: className, title, moreLink, moreText = "see all →" } = Astro.props
---

<section class:list={["mt-8 flex flex-col gap-y-2", className]}>
  <div class={moreLink && "flex items-baseline gap-x-3"}>
    <h2 id={title.toLowerCase()} class="mt-8 mb-4 text-2xl font-medium">
      {title}
    </h2>
    {
      moreLink && (
        <Link href={moreLink} underline class="text-muted-foreground hover:text-foreground text-sm">
          {moreText}
        </Link>
      )
    }
  </div>
  <slot />
</section>
