---
import { PostManager, type PostMeta } from "@/lib/blog"
import { getAllTags } from "@/lib/blog/tag"
import Layout from "@/layouts/Layout.astro"
import PreviewCard from "@/components/blog/PreviewCard.astro"
import Breadcrumbs from "@/components/layout/Breadcrumbs.astro"

export async function getStaticPaths() {
  const postManager = PostManager.getInstance()
  const uniqueTags = await getAllTags(() => postManager.getMainPosts())

  return uniqueTags.map((tag) => ({
    params: { id: tag },
    props: { tag: tag }
  }))
}

const { tag } = Astro.props
const postManager = PostManager.getInstance()
const batchMetadata: PostMeta[] = await postManager.getPostsByTag(tag)
---

<Layout
  title={`Posts tagged with "${tag}"`}
  description={`A collection of posts tagged with ${tag}.`}
  noindex
>
  <Breadcrumbs
    items={[
      { href: "/tags", label: "Tags", icon: "tags" },
      { label: tag, icon: "hashtag" }
    ]}
  />

  <ul class="flex flex-col gap-y-4">
    {
      batchMetadata.map((metadata) => (
        <li>
          <PreviewCard metadata={metadata} />
        </li>
      ))
    }
  </ul>
</Layout>
