---
import { PostManager } from "@/lib/post-manager"
import { TagManager } from "@/lib/tag-manager"
import Layout from "@/layouts/Layout.astro"
import PreviewCard from "@/components/blog/PreviewCard.astro"
import Breadcrumbs from "@/components/layout/Breadcrumbs.astro"
import PageHead from "@/components/layout/PageHead.astro"

export async function getStaticPaths() {
  const tagMap = await TagManager.getInstance().getAllTags()
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const posts = await PostManager.getInstance().getPostsByTag(tag)
      return {
        params: { id: tag },
        props: {
          tag,
          posts
        }
      }
    })
  )
}

const { tag, posts } = Astro.props
---

<Layout class="max-w-3xl">
  <PageHead
    slot="head"
    title={`Posts tagged with "${tag}"`}
    description={`A collection of posts tagged with ${tag}.`}
    noindex
  />
  <Breadcrumbs
    items={[
      { href: "/tags", label: "Tags", icon: "mingcute:tag-2-line" },
      { label: tag, icon: "mingcute:hashtag-line" }
    ]}
  />

  <ul class="flex flex-col gap-y-4">
    {
      posts.map((post) => (
        <li>
          <PreviewCard entry={post} />
        </li>
      ))
    }
  </ul>
</Layout>
