---
import { PostManager } from "@/lib/blog"
import Layout from "@/layouts/Layout.astro"
import PreviewCard from "@/components/blog/PreviewCard.astro"
import Breadcrumbs from "@/components/layout/Breadcrumbs.astro"

export async function getStaticPaths() {
  const tagMap = await PostManager.getInstance().getAllTags()
  const uniqueTags = Array.from(tagMap.keys())

  return uniqueTags.map((tag) => ({
    params: { id: tag },
    props: { tag: tag }
  }))
}

const { tag } = Astro.props
const postManager = PostManager.getInstance()
const posts = await postManager.getPostsByTag(tag)
const postsMetadata = await Promise.all(posts.map((post) => postManager.getMetadata(post.id)))
---

<Layout
  class="max-w-3xl"
  title={`Posts tagged with "${tag}"`}
  description={`A collection of posts tagged with ${tag}.`}
  noindex
>
  <Breadcrumbs
    items={[
      { href: "/tags", label: "Tags", icon: "tags" },
      { label: tag, icon: "hashtag" }
    ]}
  />

  <ul class="flex flex-col gap-y-4">
    {
      postsMetadata.map((metadata) => (
        <li>
          <PreviewCard metadata={metadata} />
        </li>
      ))
    }
  </ul>
</Layout>
