---
import { PostManager } from "@/lib/blog"
import Layout from "@/layouts/Layout.astro"
import Badge from "@/components/base/Badge.astro"
import Icon from "@/components/base/Icon.astro"
import Breadcrumbs from "@/components/layout/Breadcrumbs.astro"

const sortedTags = await PostManager.getInstance().getSortedTags()
---

<Layout title="Tags">
  <Breadcrumbs items={[{ label: "Tags", icon: "tags" }]} />

  <div class="flex flex-col gap-4">
    <div class="flex flex-wrap gap-2">
      {
        sortedTags.map(({ tag, count }) => (
          <Badge href={`/tags/${tag}`} variant="muted">
            <Icon name="hashtag" class="size-3" />
            {tag}
            <span class="text-muted-foreground ml-1.5">({count})</span>
          </Badge>
        ))
      }
    </div>
  </div>
</Layout>
