---
import Layout from "@/layouts/Layout.astro"
import Button from "@/components/base/Button.astro"
import Breadcrumbs from "@/components/layout/Breadcrumbs.astro"
import PageHead from "@/components/layout/PageHead.astro"
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="404" />
  <Breadcrumbs items={[{ label: "???", icon: "mingcute:question-line" }]} />

  <section class="flex flex-col items-center justify-center gap-y-4 text-center">
    <div class="max-w-md">
      <h1 class="mb-4 text-3xl font-medium">404: Page not found</h1>
      <p class="prose">Oops! The page you're looking for doesn't exist.</p>
    </div>
    <Button variant={"outline"} href="/" class="group flex gap-x-1.5">
      <span class="transition-transform group-hover:-translate-x-1">&larr;</span> Go to home page
    </Button>
  </section>
</Layout>
