---
import { SITE } from "@/config"
import { PostManager } from "@/lib/blog"
import Layout from "@/layouts/Layout.astro"
import Button from "@/components/base/Button.astro"
import Profile from "@/components/base/Profile.astro"
import PreviewCard from "@/components/blog/PreviewCard.astro"

const postManager = PostManager.getInstance()
const recentPosts = await postManager.getMainPosts(SITE.featuredPostCount)
const recentPostsMetadata = await Promise.all(
  recentPosts.map((post) => postManager.getMetadata(post.id))
)
---

<Layout class="max-w-3xl" title="Home">
  <Profile />
  <section class="mt-8 flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        recentPostsMetadata.map((metadata) => (
          <li>
            <PreviewCard metadata={metadata} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center gap-2">
      <Button href="/blog" variant="default" class="group">
        See all posts <span class="transition-transform group-hover:translate-x-1">&rarr;</span>
      </Button>
      <Button href="/tags" variant="ghost" class="group">
        Browse by tags <span class="transition-transform group-hover:translate-x-1">&rarr;</span>
      </Button>
    </div>
  </section>
</Layout>
