---
import { SITE } from "@/config"
import { getRecentPosts } from "@/lib/data-utils"
import Layout from "@/layouts/Layout.astro"
import Button from "@/components/base/Button.astro"
import Profile from "@/components/base/Profile.astro"
import PreviewCard from "@/components/blog/PreviewCard.astro"
import PageHead from "@/components/layout/PageHead.astro"

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <Profile />
  <section class="mt-8 flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <PreviewCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Button href="/blog" variant="ghost" class="group">
        See all posts <span class="transition-transform group-hover:translate-x-1">&rarr;</span>
      </Button>
    </div>
  </section>
</Layout>
