---
import { getLatestUpdates } from "@/lib/updates"
import CommonLayout from "@/layouts/CommonLayout.astro"
import Link from "@/components/base/Link.astro"
import UpdateTimeline from "@/components/updates/UpdateTimeline.astro"

const nowDescription = "A sporadically updated log of what I am doing, thinking, and exploring."
const renderedUpdates = await getLatestUpdates(10)
---

<CommonLayout
  title="What I'm doing now"
  description={nowDescription}
  modifiedTime={new Date()}
  breadcrumbs={[{ label: "Now", icon: "timeline" }]}
>
  {
    renderedUpdates.length > 0 && (
      <UpdateTimeline renderedUpdates={renderedUpdates} variant="stacked" />
    )
  }

  <p class="text-muted-foreground text-sm">
    Learn more about now pages and browse others at
    <Link href="https://nownownow.com" class="text-foreground" external underline
      >nownownow.com</Link
    >
  </p>
</CommonLayout>
