---
import CommonLayout from "@/layouts/CommonLayout.astro"
import Link from "@/components/base/Link.astro"
import { ToolSection, ToolTag } from "@/components/tools"

const usesDescription =
  "A collection of tools that I use on a frequent basis. \
  Except for the hardware, I use free versions of most tools. \
  I'm also a big fan of open-source software (OSS)."
---

<CommonLayout
  title="Uses"
  description={usesDescription}
  modifiedTime={new Date()}
  breadcrumbs={[{ label: "Uses", icon: "tool" }]}
  prose={false}
>
  <ToolSection
    title="Workstation (+Operating System)"
    tools={[
      {
        name: "MacBook M1 Pro 14'",
        description: "MacOS Tahoe 26",
        href: "https://www.apple.com/mac/",
        icon: "mingcute:apple-line"
      },
      {
        name: "Linux (Virtual Machine)",
        description: "Ubuntu 24.04 LTS",
        href: "https://ubuntu.com/",
        icon: "ubuntu",
        tags: [ToolTag.OpenSource]
      },
      {
        name: "Logitech Lift for Mac",
        description: "Vertical Ergonomic Mouse",
        href: "https://www.logitech.com/en-us/shop/p/lift-vertical-ergonomic-mouse-mac.910-006471",
        icon: "logitech"
      },
      {
        name: "Logitech Wave Keys for Mac",
        description: "Wireless Ergonomic Keyboard",
        href: "https://www.logitech.com/en-us/shop/p/wave-keys-mac.920-012402",
        icon: "logitech"
      }
    ]}
  />
  <ToolSection
    title="Development"
    tools={[
      {
        name: "Zed",
        description: "IDE (Vim mode)",
        href: "https://zed.dev/",
        icon: "zed",
        tags: [ToolTag.Free, ToolTag.OpenSource, ToolTag.Favorite]
      },
      {
        name: "Claude CLI (Sonnet 4.5)",
        description: "AI Code Assistant (w/ Skills)",
        href: "https://www.anthropic.com/claude",
        icon: "claude",
        tags: [ToolTag.Subscription]
      },
      {
        name: "Cursor",
        description: "AI IDE (Vim mode)",
        href: "https://www.cursor.com/",
        icon: "cursor",
        tags: [ToolTag.Gifted]
      },
      {
        name: "iTerm2",
        description: "Terminal",
        href: "https://iterm2.com/",
        icon: "iterm2",
        tags: [ToolTag.OpenSource]
      },
      {
        name: "Linear",
        description: "Software Development Tracking",
        href: "https://linear.app/",
        icon: "mingcute:linear-line",
        tags: [ToolTag.Free, ToolTag.Favorite]
      }
    ]}
  />
  <ToolSection
    title="Research & Knowledge Management"
    tools={[
      {
        name: "Obsidian",
        description: "Knowledge Management",
        href: "https://obsidian.md/",
        icon: "obsidian",
        tags: [ToolTag.Free, ToolTag.Favorite]
      },
      {
        name: "Logseq",
        description: "Journaling & Writing",
        href: "https://reclaim.ai/",
        icon: "logseq",
        tags: [ToolTag.OpenSource, ToolTag.Favorite]
      },
      {
        name: "Overleaf",
        description: "Online LaTeX Editor",
        href: "https://www.overleaf.com/",
        icon: "academicons:overleaf",
        tags: [ToolTag.Free]
      },
      {
        name: "Typst",
        description: "Typesetting, LaTeX successor",
        href: "https://typst.app/",
        icon: "typst",
        tags: [ToolTag.OpenSource, ToolTag.Free]
      },
      {
        name: "Zotero",
        description: "Citation Management",
        href: "https://www.zotero.org/",
        icon: "academicons:zotero",
        tags: [ToolTag.Free]
      }
    ]}
  />
  <ToolSection
    title="Productivity"
    tools={[
      {
        name: "Zen Browser",
        description: "Browser (Firefox-based)",
        href: "https://zen-browser.app/",
        icon: "zen",
        tags: [ToolTag.OpenSource, ToolTag.Favorite]
      },
      {
        name: "Arc Browser",
        description: "Browser (Chrominium-based)",
        href: "https://arc.net/",
        icon: "mingcute:arc-browser-line"
      },
      {
        name: "Raycast",
        description: "Launcher / Spotlight alternative",
        href: "https://www.raycast.com/",
        icon: "raycast",
        tags: [ToolTag.Free]
      },
      {
        name: "Reclaim.ai",
        description: "AI Calendar",
        href: "https://reclaim.ai/",
        icon: "reclaim",
        tags: [ToolTag.Subscription, ToolTag.Favorite]
      },
      {
        name: "Todoist",
        description: "Task Management",
        href: "https://www.todoist.com/",
        icon: "todoist",
        tags: [ToolTag.Free]
      },
      {
        name: "Spark Mail",
        description: "Email",
        href: "https://sparkmailapp.com/",
        icon: "mingcute:mail-ai-line",
        tags: [ToolTag.Bundle]
      }
    ]}
  />
  <ToolSection
    title="Language Learning"
    tools={[
      {
        name: "Anki",
        description: "Spaced Repetition System",
        href: "https://apps.ankiweb.net/",
        icon: "anki",
        tags: [ToolTag.Paid]
      },
      {
        name: "SuperChinese",
        description: "Chinese Learning",
        href: "https://superchinese.com/",
        icon: "superchinese",
        tags: [ToolTag.Subscription]
      }
    ]}
  />
  <p class="text-muted-foreground text-sm">
    Discover other developers' setups at
    <Link href="https://uses.tech/" external underline class="text-foreground">uses.tech.</Link>
  </p>
</CommonLayout>
