---
import ToolComponent, { type Props as Tool } from "./Tool.astro"

interface Props {
  title: string
  tools: Tool[]
  class?: string
}

const { class: className, title, tools, ...props } = Astro.props
---

<section class:list={["not-prose flex flex-col px-2", className]} {...props}>
  <h3 class="m-2 text-lg font-semibold">{title}</h3>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    {tools.map((tool) => <ToolComponent {...tool} />)}
  </div>
</section>
