---
import type { PostMeta } from "@/lib/blog/types"
import SubpostNavItem from "@/components/blog/SubpostNavItem.astro"

interface Props {
  subposts: PostMeta[]
  currentPostId: string
}

const { subposts, currentPostId } = Astro.props
---

{
  subposts.length > 0 && (
    <ul class="ml-4 space-y-1" role="list">
      {subposts.map((subpost) => (
        <li role="listitem">
          <SubpostNavItem post={subpost} isActive={currentPostId === subpost.id} isSubpost={true} />
        </li>
      ))}
    </ul>
  )
}
